.demo-editor {
  border: 1px solid #d9d9d9;
  min-height: 400px;
  padding: 0 10px;
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 100px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
.upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
.img-remark {
  padding-top: '10px';
  padding-bottom: '10px;';
}